:root { 
--black_900:#000000; 
--blue_800:#2e77ae; 
--indigo_50:#e0eaf4; 
--amber_600:#ffb700; 
--blue_gray_900:#0d2237; 
--orange_400:#ff8e2b; 
--black_900_3f:#0000003f; 
--white_A700:#ffffff; 
--gray_300:#e5e5e5; 
}